\documentclass[11pt]{article}
\usepackage[margin=0.7in]{geometry}
\usepackage{enumitem}
\usepackage{hyperref}
\usepackage{titlesec}
\usepackage{xcolor}
\pagenumbering{gobble}

\titleformat{\section}{\large\bfseries}{}{0em}{}[\titlerule]
\setlist[itemize]{noitemsep, topsep=2pt, leftmargin=1.2em}

\begin{document}

\begin{center}
    {\LARGE \textbf{ {{ basics.name }} }}\\[4pt]
    {{ basics.phone }} \;|\;
    \href{mailto:{{ basics.email }}}{{ basics.email }} \;|\;
    {{ basics.location.city }}, {{ basics.location.state }} \;|\;
    \href{ {{ basics.profiles[0].url }} }{{ basics.profiles[0].url }}
\end{center}

\vspace{0.2cm}

\section*{Summary}
{{ summary }}

\section*{Education}
{% for edu in education %}
\textbf{ {{ edu.institution }} }, {{ edu.location }} \hfill {{ edu.graduation }}\\
{{ edu.degree }} in {{ edu.majors | join(' and ') }}{% if edu.gpa %} \;|\; GPA: {{ edu.gpa }}{% endif %}\\
Relevant Coursework: {{ edu.coursework | join(', ') }}

{% endfor %}

\section*{Technical Skills}
\textbf{Strong:} {{ skills.strong | join(', ') }}\\
\textbf{Experienced:} {{ skills.experienced | join(', ') }}

\section*{Certifications}
\begin{itemize}
{% for cert in certifications %}
    \item {{ cert }}
{% endfor %}
\end{itemize}

\section*{Professional Experience}
{% for job in experience %}
\textbf{ {{ job.position }} } --- {{ job.company }}, {{ job.location }} \hfill {{ job.start }} -- {{ job.end }}
\begin{itemize}
{% for item in job.highlights %}
    \item {{ item }}
{% endfor %}
\end{itemize}
{% endfor %}

\section*{Projects}
{% for project in projects %}
\textbf{ {{ project.name }} }{% if project.role %} --- {{ project.role }}{% endif %}{% if project.organization %}, {{ project.organization }}{% endif %} \hfill {{ project.period if project.period else project.date }}
\begin{itemize}
{% if project.highlights %}
{% for item in project.highlights %}
    \item {{ item }}
{% endfor %}
{% elif project.description %}
{% for item in project.description %}
    \item {{ item }}
{% endfor %}
{% endif %}
\end{itemize}
{% endfor %}

\section*{Leadership}
{% for item in leadership %}
\textbf{ {{ item.organization }} } --- 
{% if item.role %}{{ item.role }}{% elif item.roles %}{{ item.roles | join(', ') }}{% endif %} \hfill {{ item.period }}
\begin{itemize}
{% for bullet in item.highlights %}
    \item {{ bullet }}
{% endfor %}
\end{itemize}
{% endfor %}

\end{document}